
.projects_list {
	display: flex;
	justify-content: space-around;
	border: solid black;
	border-radius: 20px;
	flex-flow: row wrap;
	background-color: lightgrey;	
}

.project {
	background-color: whitesmoke;
	border: solid black;
	border-radius: 10px;
	padding: 1%;
	margin: 1%;
	display: flex;
	flex-direction: column;

	flex-basis: 400px;
	flex-grow: 3;
}
/*
@media screen and (min-width: 1200px) {
	.project {
		max-width: 45%;
	}
}
*/

.project > {
	display: flex;
}

.project > img {
	align-self: center;
	width: auto;
	max-width: 90%;
	max-height: 80%;
	object-fit:contain;
}

.project > h1 {
	align-self: center;
	margin: 1%;
	font-size: 3rem;
}

.project > p {
	font-size: 1rem;
}
